In [1]:
from sqlalchemy import create_engine
import traceback
import getpass
import pandas as pd
import geopandas as gpd

import shapely
from shapely.geometry import Point, LineString, MultiLineString, Polygon
from tqdm.notebook import tqdm

In [2]:
engine = create_engine('postgresql://{login}:{password}@84.201.144.84:54327/cei_samara'.format(
    login='kpopova@infraeconomy.com',
    password='woo2eipaeb3shoibeer6Foxaesh8aeSu',
))

In [15]:
rt_trnsnavi = pd.read_sql(
    """
    SELECT t2.mr_id,t3.mr_name, t4.tt_name, t1.mv_id, rl_id, rd_orderby, rd_lat, rd_long
    FROM public."transNavi_Reis_segments" t1
    left join public."transNavi_MarshVariants" t2 on t1.mv_id=t2.mv_id
    left join public."transNavi_Marshes" t3 on t3.mr_id=t2.mr_id
    left join public."transNavi_TransportTypes" t4 on t3.tt_id=t4.tt_id
    """,
    engine
)

In [16]:
rt_trnsnavi.head(2)

   mr_id mr_name  tt_name  mv_id  rl_id  rd_orderby     rd_lat    rd_long
0     20      22  Автобус     13   1365           1  53.190950  50.190492
1     20      22  Автобус     13   1365           2  53.190964  50.190988

In [17]:
path='15_analysis/s4/'

In [18]:
filename='2020-09-14_s2_4'

In [20]:
df = pd.read_csv(path + filename + '.csv', sep='\t', encoding='windows-1251')

C:\Users\ochristm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark
0,200000006,105,48д,20,0,0,2020-09-14 06:04:55,50.089637,53.126245,15,0
1,200000006,105,48д,20,0,0,2020-09-14 06:05:41,50.089548,53.126178,2,0

In [24]:
df[df.mr_id == 105]

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark
0,200000006,105,48д,20,0,0,2020-09-14 06:04:55,50.089637,53.126245,15,0
1,200000006,105,48д,20,0,0,2020-09-14 06:05:41,50.089548,53.126178,2,0
2,200000006,105,48д,20,0,0,2020-09-14 06:06:43,50.089800,53.126047,0,0
3,200000006,105,48д,20,0,0,2020-09-14 06:07:07,50.089685,53.126228,2,0
4,200000006,105,48д,20,0,0,2020-09-14 06:07:32,50.089870,53.125927,0,0
...,...,...,...,...,...,...,...,...,...,...,...
433673,201024501,105,48д,21,0,0,2020-09-14 19:13:32,50.087447,53.082542,0,0
433674,201024501,105,48д,21,0,0,2020-09-14 19:14:07,50.087175,53.082380,0,0
433675,201024501,105,48д,21,0,0,2020-09-14 19:14:35,50.087920,53.082238,0,0
433676,201024501,105,48д,21,0,0,2020-09-14 19:15:20,50.087948,53.082135,1,0
433677,201024501,105,48д,21,0,0,2020-09-14 19:16:41,50.088187,53.082092,50,0

In [29]:
lst_rtid = list(df.mr_id.unique())

In [30]:
len(lst_rtid)

24

In [28]:
lst_rtid2 = list(rt_trnsnavi.mr_id.unique())

In [31]:
len(lst_rtid2)

206

In [32]:
df[~df.mr_id.isin(rt_trnsnavi.mr_id)]

Empty DataFrame
Columns: [tr_id, mr_id, mr_name, graph, tabelnum, condnum, timenav, long, lat, speed, mark]
Index: []

In [34]:
rt_trnsnavi.head(2)

   mr_id mr_name  tt_name  mv_id  rl_id  rd_orderby     rd_lat    rd_long
0     20      22  Автобус     13   1365           1  53.190950  50.190492
1     20      22  Автобус     13   1365           2  53.190964  50.190988

In [42]:
one_rt = rt_trnsnavi[rt_trnsnavi.mr_id == 20]

In [51]:
one_rt['rd_long'] = one_rt['rd_long'].astype(float)
one_rt['rd_lat'] = one_rt['rd_lat'].astype(float)
one_rt['geometry'] = one_rt.apply(lambda row: Point(row['rd_long'],row['rd_lat']), axis=1 )

C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
one_rt = gpd.GeoDataFrame(one_rt)
one_rt.crs='epsg:4326'

In [54]:
one_rt.head(2)

,mr_id,mr_name,tt_name,mv_id,rl_id,rd_orderby,rd_lat,rd_long,geometry
0,20,22,Автобус,13,1365,1,53.190950,50.190492,POINT (50.19049 53.19095)
1,20,22,Автобус,13,1365,2,53.190964,50.190988,POINT (50.19099 53.19096)

In [56]:
LineString(list(one_rt.geometry))

In [59]:
import time

In [60]:
rt_trnsnavi2 = rt_trnsnavi.copy()
rt_trnsnavi2['rd_long'] = rt_trnsnavi2['rd_long'].astype(float)
rt_trnsnavi2['rd_lat'] = rt_trnsnavi2['rd_lat'].astype(float)
%time rt_trnsnavi2['geometry'] = rt_trnsnavi2.apply(lambda row: Point(row['rd_long'],row['rd_lat']), axis=1 )

Wall time: 7.67 s

In [78]:
lst_rtid2 = list(rt_trnsnavi.mr_id.unique())
lst_lines=[]

i=0
# for i in tqdm(range(2)):
for i in tqdm(range(len(lst_rtid2))):
    rtid = lst_rtid2[i]
    one_rt = rt_trnsnavi2[rt_trnsnavi2.mr_id == rtid]
    lst_trp = list(one_rt.rl_id.unique())
    for k in range(len(lst_trp)):
        one_trip = one_rt[one_rt.rl_id==lst_trp[k]]
        one_line = LineString(list(one_trip.geometry))
        lst_lines.append([rtid, one_line])

HBox(children=(FloatProgress(value=0.0, max=206.0), HTML(value='')))

In [76]:
one_rt[one_rt.rl_id == 76565]

,mr_id,mr_name,tt_name,mv_id,rl_id,rd_orderby,rd_lat,rd_long,geometry
178179,155,226,Автобус,765,76565,1,53.240958,50.188766,POINT (50.188766 53.240958)
178180,155,226,Автобус,765,76565,2,53.241280,50.188905,POINT (50.188905 53.24128)
178181,155,226,Автобус,765,76565,3,53.242564,50.189753,POINT (50.189753 53.242564)
178182,155,226,Автобус,765,76565,4,53.242719,50.189881,POINT (50.189881 53.242719)
178183,155,226,Автобус,765,76565,5,53.242815,50.189989,POINT (50.189989 53.242815)
...,...,...,...,...,...,...,...,...,...
178457,155,226,Автобус,765,76565,279,53.178492,50.082542,POINT (50.082542 53.178492)
178458,155,226,Автобус,765,76565,280,53.178354,50.082140,POINT (50.08214 53.178354)
178459,155,226,Автобус,765,76565,281,53.178193,50.081727,POINT (50.081727 53.178193)
178460,155,226,Автобус,765,76565,282,53.178077,50.081442,POINT (50.081442 53.178077)
178461,155,226,Автобус,765,76565,283,53.177958,50.081196,POINT (50.081196 53.177958)

In [77]:
len(one_rt)

566

In [79]:
graph_lines = gpd.GeoDataFrame(lst_lines,columns=['mr_id', 'geometry'])
graph_lines.crs='epsg:4326'

In [80]:
graph_lines.head(2)

   mr_id                                           geometry
0     20  LINESTRING (50.19049 53.19095, 50.19099 53.190...
1     20  LINESTRING (50.11861 53.18702, 50.11867 53.186...

In [81]:
graph_lines.to_file("graph_lines3.json", driver="GeoJSON", encoding='utf-8')

In [70]:
rt_trnsnavi[rt_trnsnavi.mr_id==119]

,mr_id,mr_name,tt_name,mv_id,rl_id,rd_orderby,rd_lat,rd_long
11633,119,17,Троллейбус,458,45870,1,53.187073,50.121475
80132,119,17,Троллейбус,458,45865,1,53.249874,50.265396
80133,119,17,Троллейбус,458,45865,2,53.250681,50.267234
80134,119,17,Троллейбус,458,45865,3,53.250887,50.267681
80135,119,17,Троллейбус,458,45865,4,53.251022,50.267860
...,...,...,...,...,...,...,...,...
82299,119,17,Троллейбус,458,45886,14,53.195510,50.124602
82300,119,17,Троллейбус,458,45886,15,53.195338,50.124293
82301,119,17,Троллейбус,458,45886,16,53.195205,50.124087
82302,119,17,Троллейбус,458,45886,17,53.194865,50.123739
82303,119,17,Троллейбус,458,45886,18,53.194357,50.123374