In [1]:
from sqlalchemy import create_engine
import traceback
import getpass
import pandas as pd
import geopandas as gpd

import shapely
from shapely.geometry import Point, LineString, MultiLineString, Polygon
from shapely.ops import unary_union
from tqdm.notebook import tqdm
import time

In [2]:
engine = create_engine('postgresql://{login}:{password}@84.201.144.84:54327/cei_samara'.format(
    login='kpopova@infraeconomy.com',
    password='woo2eipaeb3shoibeer6Foxaesh8aeSu',
))

In [3]:
rt_trnsnavi = pd.read_sql(
    """
    SELECT t2.mr_id,t3.mr_name, t4.tt_name, t1.mv_id, rl_id, rd_orderby, rd_lat, rd_long
    FROM public."transNavi_Reis_segments" t1
    left join public."transNavi_MarshVariants" t2 on t1.mv_id=t2.mv_id
    left join public."transNavi_Marshes" t3 on t3.mr_id=t2.mr_id
    left join public."transNavi_TransportTypes" t4 on t3.tt_id=t4.tt_id
    """,
    engine
)

In [4]:
rt_trnsnavi.head(2)

   mr_id mr_name  tt_name  mv_id  rl_id  rd_orderby     rd_lat    rd_long
0     20      22  Автобус     13   1365           1  53.190950  50.190492
1     20      22  Автобус     13   1365           2  53.190964  50.190988

In [5]:
path='15_analysis/s4/'

In [6]:
filename='2020-09-14_s2_4'

In [7]:
df = pd.read_csv(path + filename + '.csv', sep='\t', encoding='windows-1251')

C:\Users\ochristm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark
0,200000006,105,48д,20,0,0,2020-09-14 06:04:55,50.089637,53.126245,15,0
1,200000006,105,48д,20,0,0,2020-09-14 06:05:41,50.089548,53.126178,2,0

In [22]:
rt_trnsnavi2 = rt_trnsnavi.copy()
rt_trnsnavi2['rd_long'] = rt_trnsnavi2['rd_long'].astype(float)
rt_trnsnavi2['rd_lat'] = rt_trnsnavi2['rd_lat'].astype(float)
%time rt_trnsnavi2['geometry'] = rt_trnsnavi2.apply(lambda row: Point(row['rd_long'],row['rd_lat']), axis=1 )

Wall time: 6.96 s

In [30]:
lst_rtid2 = list(rt_trnsnavi.mr_id.unique())
lst_lines=[]

i=0
# for i in tqdm(range(2)):
for i in tqdm(range(len(lst_rtid2))):
    rtid = lst_rtid2[i]
    one_rt = rt_trnsnavi2[rt_trnsnavi2.mr_id == rtid]
    lst_trp = list(one_rt.rl_id.unique())
    for k in range(len(lst_trp)):
        one_trip = one_rt[one_rt.rl_id==lst_trp[k]]
        one_line = LineString(list(one_trip.geometry))
        lst_lines.append([rtid, lst_trp[k], one_line])

HBox(children=(FloatProgress(value=0.0, max=206.0), HTML(value='')))

In [ ]:
graph_lines = gpd.GeoDataFrame(lst_lines,columns=['mr_id', 'rl_id', 'geometry'])
graph_lines.crs='epsg:4326'

In [196]:
graph_lines.head(2)

   mr_id  rl_id                                           geometry
0     20   1365  LINESTRING (50.19049 53.19095, 50.19099 53.190...
1     20   1366  LINESTRING (50.11861 53.18702, 50.11867 53.186...

In [295]:
lst_rtid2 = list(rt_trnsnavi2.mr_id.unique())
lst_segm_geo=[]
dct_segm_geo_info={}
lst_wkt=[]

i=0
# for i in tqdm(range(2)):
# for i in tqdm(range(1, 3)):
for i in tqdm(range(1, len(rt_trnsnavi2))):
    str_nm = str(
            str(rt_trnsnavi2.mr_id[i-1]) 
            + "_" 
            + str(rt_trnsnavi2.rl_id[i-1]))
    str_nm2 = str(
            str(rt_trnsnavi2.mr_id[i]) 
            + "_" 
            + str(rt_trnsnavi2.rl_id[i]))
    if str_nm == str_nm2:
#         str_nm3 = str(rt_trnsnavi2.mr_id[i])
        str_nm3 = str(rt_trnsnavi2.mr_id[i] + 100000)
        one_pt = rt_trnsnavi2.geometry[i-1]
        two_pt = rt_trnsnavi2.geometry[i]
        segm = LineString([one_pt, two_pt])
        wkt_geo = segm.wkt
        if wkt_geo not in lst_wkt:
            lst_wkt.append(wkt_geo)
            lst_segm_geo.append([wkt_geo, segm])
            dct_segm_geo_info[wkt_geo] = [str_nm3]
        else:
            if str_nm3 not in dct_segm_geo_info[wkt_geo]:
                dct_segm_geo_info[wkt_geo] = dct_segm_geo_info[wkt_geo] + [str_nm3]
                dct_segm_geo_info[wkt_geo].sort()
#

HBox(children=(FloatProgress(value=0.0, max=178744.0), HTML(value='')))

In [296]:
print(len(dct_segm_geo_info))
print(len(lst_segm_geo))
# 22297

22297
22297

In [297]:
small_segm = gpd.GeoDataFrame(lst_segm_geo, columns=['wkt', 'geometry'])
small_segm.crs='epsg:4326'

In [298]:
small_segm2= pd.DataFrame(dct_segm_geo_info.items(), columns=['wkt', 'rts'])

In [299]:
small_segm = small_segm.merge(small_segm2, how='left', on=['wkt'])
small_segm['rts2'] = small_segm['rts'].apply(lambda row: ",".join(row))
small_segm['rts3'] = small_segm['rts'].apply(lambda row: [int(k) - 100000 for k in row])

In [306]:
small_segm.head(2)

,wkt,geometry,rts,rts2,rts3
0,"LINESTRING (50.190492 53.19095, 50.190988 53.1...","LINESTRING (50.19049 53.19095, 50.19099 53.19096)","[100017, 100020, 100023, 100030, 100034, 10003...","100017,100020,100023,100030,100034,100035,1000...","[17, 20, 23, 30, 34, 35, 38, 75, 77, 99, 107, ..."
1,"LINESTRING (50.190988 53.190964, 50.191096 53....","LINESTRING (50.19099 53.19096, 50.19110 53.19097)","[100017, 100020, 100023, 100035, 100038, 10018...","100017,100020,100023,100035,100038,100180,100199","[17, 20, 23, 35, 38, 180, 199]"

In [314]:
lst_no_dup=[]
lst_yn=[]
i=0
# for i in tqdm(range(5)):
for i in tqdm(range(len(small_segm))):
    l1 = small_segm.geometry[i].coords[:]
    l2 = l1[:]
    l2.reverse()
    coord1 = str(l1)
    coord2 = str(l2)
    if ((coord1 not in lst_no_dup) & (coord2 not in lst_no_dup)):
        lst_no_dup.append(coord1)
        lst_no_dup.append(coord2)
        lst_yn.append(0)
    else:
        lst_yn.append(1)
#

HBox(children=(FloatProgress(value=0.0, max=22297.0), HTML(value='')))

In [315]:
len(lst_yn)

22297

In [317]:
small_segm2 = small_segm.copy()
small_segm2['yn_del'] = lst_yn

In [323]:
small_segm_no_dup = small_segm2[small_segm2.yn_del == 0].reset_index(drop=True)
del small_segm_no_dup['yn_del']
small_segm_no_dup['rts'] = small_segm_no_dup['rts'].astype(str)
small_segm_no_dup['rts3'] = small_segm_no_dup['rts3'].astype(str)

In [324]:
small_segm_no_dup.to_file("small_segm_no_dup.json", driver="GeoJSON", encoding='utf-8')

In [308]:
small_segm.geometry[0].coords[:]

[(50.190492, 53.19095), (50.190988, 53.190964)]

In [310]:
l1 = small_segm.geometry[0].coords[:]
l1.reverse()
l1

[(50.190988, 53.190964), (50.190492, 53.19095)]

In [190]:
# tmp3.to_file("tmp1.json", driver="GeoJSON", encoding='utf-8')

In [210]:
small_segm_32640 = small_segm.copy()
small_segm_32640 = small_segm_32640.to_crs('epsg:32640')
small_segm_32640.geometry = small_segm_32640.geometry.buffer(100)
small_segm_buff = small_segm_32640.to_crs('epsg:4326')

In [ ]:
graph_lines_32640 = graph_lines.copy()
graph_lines_32640 = graph_lines_32640.to_crs('epsg:32640')
graph_lines_32640.geometry = graph_lines_32640.geometry.buffer(100)
graph_lines_buff = graph_lines_32640.to_crs('epsg:4326')

In [211]:
graph_lines_buff.head(2)

   mr_id  rl_id                                           geometry
0     20   1365  POLYGON ((50.12659 53.19688, 50.12605 53.19732...
1     20   1366  POLYGON ((50.11966 53.18766, 50.12027 53.18766...

In [201]:
df.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark
0,200000006,105,48д,20,0,0,2020-09-14 06:04:55,50.089637,53.126245,15,0
1,200000006,105,48д,20,0,0,2020-09-14 06:05:41,50.089548,53.126178,2,0

In [202]:
gdf_tracks = df.copy()
%time gdf_tracks['geometry'] = gdf_tracks.apply(lambda row: Point(row['long'],row['lat']), axis=1 )

Wall time: 25.3 s

In [205]:
gdf_tracks = gpd.GeoDataFrame(gdf_tracks)
gdf_tracks.crs='epsg:4326'

In [224]:
%time gdf_tracks_sm = gpd.sjoin(gdf_tracks[gdf_tracks.mr_id == 105], small_segm_buff.iloc[[117]][['geometry']], how='inner', op='within')

Wall time: 719 ms

In [225]:
print(len(gdf_tracks))
print(len(gdf_tracks_sm))

630368
3249

In [218]:
graph_lines_buff.to_file("graph_lines_buff.json", driver="GeoJSON", encoding='utf-8')

In [226]:
gdf_tracks_sm.to_file("gdf_tracks_sm2.json", driver="GeoJSON", encoding='utf-8')

In [220]:
small_segm_buff.head(2)

,wkt,geometry,rts
0,"LINESTRING (50.190492 53.19095, 50.190988 53.1...","POLYGON ((50.19092 53.19186, 50.19106 53.19186...","107_51565,108_9665,17_75965,180_16865,199_2156..."
1,"LINESTRING (50.190988 53.190964, 50.191096 53....","POLYGON ((50.19105 53.19186, 50.19120 53.19186...","17_75965,180_16865,199_21565,20_1365,23_27565,..."

In [223]:
small_segm_buff.iloc[[117]]

,wkt,geometry,rts
117,"LINESTRING (50.122341 53.192857, 50.120957 53....","POLYGON ((50.12234 53.19050, 50.12227 53.19042...","102_41566,105_9366,109_49165,115_47665,115_476..."

In [222]:
small_segm_buff[small_segm_buff.rts.str.contains("105_")]

,wkt,geometry,rts
117,"LINESTRING (50.122341 53.192857, 50.120957 53....","POLYGON ((50.12234 53.19050, 50.12227 53.19042...","102_41566,105_9366,109_49165,115_47665,115_476..."
118,"LINESTRING (50.120957 53.190839, 50.119651 53....","POLYGON ((50.12104 53.18852, 50.12098 53.18844...","102_41566,105_9366,109_49165,110_35265,115_476..."
121,"LINESTRING (50.119066 53.187997, 50.118857 53....","POLYGON ((50.12024 53.18735, 50.12018 53.18727...","102_41566,105_9366,109_49165,110_35265,115_476..."
122,"LINESTRING (50.118857 53.187683, 50.118637 53....","POLYGON ((50.12002 53.18702, 50.11996 53.18694...","102_41566,105_9366,109_49165,110_35265,115_476..."
125,"LINESTRING (50.118669 53.186775, 50.119033 53....","POLYGON ((50.11909 53.18766, 50.11924 53.18765...","102_41565,105_9365,109_49166,110_35266,115_476..."
...,...,...,...
3309,"LINESTRING (50.075919 53.120121, 50.074031 53....","POLYGON ((50.07488 53.11860, 50.07475 53.11855...","105_9366,106_9466,15_41965,15_41967,15_41969,1..."
3310,"LINESTRING (50.074031 53.119338, 50.07144 53.1...","POLYGON ((50.07229 53.11752, 50.07216 53.11748...","105_9366,106_9466,15_41965,15_41967,15_41969,1..."
3311,"LINESTRING (50.07144 53.11826, 50.068833 53.11...","POLYGON ((50.06968 53.11644, 50.06955 53.11640...","105_9366,106_9466,15_41965,15_41967,15_41969,1..."
3312,"LINESTRING (50.068833 53.117181, 50.065942 53....","POLYGON ((50.06679 53.11524, 50.06667 53.11519...","105_9366,106_9466,15_41965,15_41967,15_41969,1..."
3313,"LINESTRING (50.065942 53.115973, 50.063935 53....","POLYGON ((50.06478 53.11440, 50.06466 53.11436...","105_9366,106_9466,15_41965,15_41967,15_41969,1..."

In [227]:
small_segm_buff.iloc[[117]].to_file("one_segm.json", driver="GeoJSON", encoding='utf-8')