In [1]:
from sqlalchemy import create_engine
import traceback
import getpass
import pandas as pd
import geopandas as gpd

import shapely
from shapely.geometry import Point, LineString, MultiLineString, Polygon
from shapely.ops import unary_union
from tqdm.notebook import tqdm
import time

from os import listdir
from os.path import isfile, join

In [2]:
engine = create_engine('postgresql://{login}:{password}@84.201.144.84:54327/cei_samara'.format(
    login='kpopova@infraeconomy.com',
    password='woo2eipaeb3shoibeer6Foxaesh8aeSu',
))

In [3]:
rt_trnsnavi = pd.read_sql(
    """
    SELECT t2.mr_id,t3.mr_name, t4.tt_name, t1.mv_id, rl_id, rd_orderby, rd_lat, rd_long
    FROM public."transNavi_Reis_segments" t1
    left join public."transNavi_MarshVariants" t2 on t1.mv_id=t2.mv_id
    left join public."transNavi_Marshes" t3 on t3.mr_id=t2.mr_id
    left join public."transNavi_TransportTypes" t4 on t3.tt_id=t4.tt_id
    """,
    engine
)

In [4]:
rt_trnsnavi.head(2)

   mr_id mr_name  tt_name  mv_id  rl_id  rd_orderby     rd_lat    rd_long
0     20      22  Автобус     13   1365           1  53.190950  50.190492
1     20      22  Автобус     13   1365           2  53.190964  50.190988

In [5]:
path='15_analysis/s4/'

In [ ]:
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]

In [107]:
fl

'2020-09-14_s5_4.csv'

In [108]:
bg_df = pd.DataFrame()
# i=0
cnt=1
for fl in tqdm(onlyfiles):
    if "09-17" in fl:
        df = pd.read_csv(path + fl, sep='\t', encoding='windows-1251')
        bg_df = bg_df.append(df).reset_index(drop=True)
#         cnt+=1
#         if cnt==4:
#             break

HBox(children=(FloatProgress(value=0.0, max=35.0), HTML(value='')))

C:\Users\ochristm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [109]:
len(bg_df)

3690925

In [110]:
# bg_df['time']=pd.to_datetime(bg_df['timenav'])
# bg_df['hour']=bg_df['time'].dt.hour

In [111]:
bg_df.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark,time,hour
0,200000010,159,96,13,0,0,2020-09-17 05:00:30,50.222517,53.216767,50,0,2020-09-17 05:00:30,5
1,200000010,159,96,13,0,0,2020-09-17 05:01:00,50.226917,53.219450,65,0,2020-09-17 05:01:00,5

In [207]:
bg_df[bg_df.mr_id == 159].tr_id.unique()

array([200000010, 200000031, 200000073, 200000074, 200000075, 200000076,
       200000176, 200000257, 200000293, 200000348, 200000349, 200000355,
       200000356, 200000517, 201024013, 201024014, 201024015, 201024016,
       201024019, 201024078, 201024110, 201024157, 201024226, 201024230,
       201024232, 201024233, 201024237, 201024243, 201024253, 201024256,
       201024258, 201024259, 201024373], dtype=int64)

In [170]:
# bg_df2 = bg_df[bg_df.speed != 0]

In [171]:
# grp_df = bg_df2.groupby(['hour']).agg({'speed':'mean'})
# grp_df = grp_df.reset_index()

In [176]:
# grp_df.to_csv("grp_df_1709.csv", sep=';', encoding='utf-8', index=False)

In [6]:
# filename='2020-09-14_s2_4'

In [7]:
# df = pd.read_csv(path + filename + '.csv', sep='\t', encoding='windows-1251')

C:\Users\ochristm\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# df.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark
0,200000006,105,48д,20,0,0,2020-09-14 06:04:55,50.089637,53.126245,15,0
1,200000006,105,48д,20,0,0,2020-09-14 06:05:41,50.089548,53.126178,2,0

In [9]:
rt_trnsnavi2 = rt_trnsnavi.copy()
rt_trnsnavi2['rd_long'] = rt_trnsnavi2['rd_long'].astype(float)
rt_trnsnavi2['rd_lat'] = rt_trnsnavi2['rd_lat'].astype(float)
%time rt_trnsnavi2['geometry'] = rt_trnsnavi2.apply(lambda row: Point(row['rd_long'],row['rd_lat']), axis=1 )

Wall time: 6.95 s

In [10]:
# lst_rtid2 = list(rt_trnsnavi.mr_id.unique())
# lst_lines=[]

# i=0
# # for i in tqdm(range(2)):
# for i in tqdm(range(len(lst_rtid2))):
#     rtid = lst_rtid2[i]
#     one_rt = rt_trnsnavi2[rt_trnsnavi2.mr_id == rtid]
#     lst_trp = list(one_rt.rl_id.unique())
#     for k in range(len(lst_trp)):
#         one_trip = one_rt[one_rt.rl_id==lst_trp[k]]
#         one_line = LineString(list(one_trip.geometry))
#         lst_lines.append([rtid, lst_trp[k], one_line])

HBox(children=(FloatProgress(value=0.0, max=206.0), HTML(value='')))

In [11]:
# graph_lines = gpd.GeoDataFrame(lst_lines,columns=['mr_id', 'rl_id', 'geometry'])
# graph_lines.crs='epsg:4326'

In [12]:
# graph_lines.head(2)

   mr_id  rl_id                                           geometry
0     20   1365  LINESTRING (50.19049 53.19095, 50.19099 53.190...
1     20   1366  LINESTRING (50.11861 53.18702, 50.11867 53.186...

In [13]:
lst_rtid2 = list(rt_trnsnavi2.mr_id.unique())
lst_segm_geo=[]
dct_segm_geo_info={}
lst_wkt=[]

i=0
# for i in tqdm(range(2)):
# for i in tqdm(range(1, 3)):
for i in tqdm(range(1, len(rt_trnsnavi2))):
    str_nm = str(
            str(rt_trnsnavi2.mr_id[i-1]) 
            + "_" 
            + str(rt_trnsnavi2.rl_id[i-1]))
    str_nm2 = str(
            str(rt_trnsnavi2.mr_id[i]) 
            + "_" 
            + str(rt_trnsnavi2.rl_id[i]))
    if str_nm == str_nm2:
#         str_nm3 = str(rt_trnsnavi2.mr_id[i])
        str_nm3 = str(rt_trnsnavi2.mr_id[i] + 100000)
        one_pt = rt_trnsnavi2.geometry[i-1]
        two_pt = rt_trnsnavi2.geometry[i]
        segm = LineString([one_pt, two_pt])
        wkt_geo = segm.wkt
        if wkt_geo not in lst_wkt:
            lst_wkt.append(wkt_geo)
            lst_segm_geo.append([wkt_geo, segm])
            dct_segm_geo_info[wkt_geo] = [str_nm3]
        else:
            if str_nm3 not in dct_segm_geo_info[wkt_geo]:
                dct_segm_geo_info[wkt_geo] = dct_segm_geo_info[wkt_geo] + [str_nm3]
                dct_segm_geo_info[wkt_geo].sort()
#

HBox(children=(FloatProgress(value=0.0, max=178744.0), HTML(value='')))

In [14]:
print(len(dct_segm_geo_info))
print(len(lst_segm_geo))
# 22297

22297
22297

In [15]:
small_segm = gpd.GeoDataFrame(lst_segm_geo, columns=['wkt', 'geometry'])
small_segm.crs='epsg:4326'

In [16]:
small_segm2= pd.DataFrame(dct_segm_geo_info.items(), columns=['wkt', 'rts'])

In [17]:
small_segm = small_segm.merge(small_segm2, how='left', on=['wkt'])
small_segm['rts2'] = small_segm['rts'].apply(lambda row: ",".join(row))
small_segm['rts3'] = small_segm['rts'].apply(lambda row: [int(k) - 100000 for k in row])

In [18]:
small_segm.head(2)

,wkt,geometry,rts,rts2,rts3
0,"LINESTRING (50.190492 53.19095, 50.190988 53.1...","LINESTRING (50.19049 53.19095, 50.19099 53.19096)","[100017, 100020, 100023, 100030, 100034, 10003...","100017,100020,100023,100030,100034,100035,1000...","[17, 20, 23, 30, 34, 35, 38, 75, 77, 99, 107, ..."
1,"LINESTRING (50.190988 53.190964, 50.191096 53....","LINESTRING (50.19099 53.19096, 50.19110 53.19097)","[100017, 100020, 100023, 100035, 100038, 10018...","100017,100020,100023,100035,100038,100180,100199","[17, 20, 23, 35, 38, 180, 199]"

In [19]:
lst_no_dup=[]
lst_yn=[]
i=0
# for i in tqdm(range(5)):
for i in tqdm(range(len(small_segm))):
    l1 = small_segm.geometry[i].coords[:]
    l2 = l1[:]
    l2.reverse()
    coord1 = str(l1)
    coord2 = str(l2)
    if ((coord1 not in lst_no_dup) & (coord2 not in lst_no_dup)):
        lst_no_dup.append(coord1)
        lst_no_dup.append(coord2)
        lst_yn.append(0)
    else:
        lst_yn.append(1)
#

HBox(children=(FloatProgress(value=0.0, max=22297.0), HTML(value='')))

In [20]:
len(lst_yn)

22297

In [21]:
small_segm2 = small_segm.copy()
small_segm2['yn_del'] = lst_yn

In [22]:
small_segm_no_dup = small_segm2[small_segm2.yn_del == 0].reset_index(drop=True)
del small_segm_no_dup['yn_del']
small_segm_no_dup['rts'] = small_segm_no_dup['rts'].astype(str)
small_segm_no_dup['rts3'] = small_segm_no_dup['rts3'].astype(str)

In [23]:
# small_segm_no_dup.to_file("small_segm_no_dup.json", driver="GeoJSON", encoding='utf-8')

In [136]:
len(small_segm_no_dup)

14603

In [137]:
small_segm_ndp_32640 = small_segm_no_dup.copy()
small_segm_ndp_32640 = small_segm_ndp_32640.to_crs('epsg:32640')
small_segm_ndp_32640.geometry = small_segm_ndp_32640.geometry.buffer(100)
small_segm_ndp_buff = small_segm_ndp_32640.to_crs('epsg:4326')

In [138]:
small_segm_ndp_buff.head(2)

,wkt,geometry,rts,rts2,rts3
0,"LINESTRING (50.190492 53.19095, 50.190988 53.1...","POLYGON ((50.19092 53.19186, 50.19106 53.19186...","['100017', '100020', '100023', '100030', '1000...","100017,100020,100023,100030,100034,100035,1000...","[17, 20, 23, 30, 34, 35, 38, 75, 77, 99, 107, ..."
1,"LINESTRING (50.190988 53.190964, 50.191096 53....","POLYGON ((50.19105 53.19186, 50.19120 53.19186...","['100017', '100020', '100023', '100035', '1000...","100017,100020,100023,100035,100038,100180,100199","[17, 20, 23, 35, 38, 180, 199]"

In [ ]:
lst_rtid = list(bg_df.mr_id.unique())

lst_ttl_spd=[]
i=0
for i in tqdm(range(3)):
# for rt in lst_rtid:
    rt = lst_rtid[i]
    one_rt_segm_buff = small_segm_ndp_buff[small_segm_ndp_buff.rts2.str.contains(str(rt + 100000))].reset_index(drop=True)
    one_geo_line=small_segm_no_dup[small_segm_no_dup.rts2.str.contains(str(rt + 100000))].reset_index(drop=True)
    lst_wkt = list(one_geo_line.wkt.unique())
    
    for wkt in lst_wkt:
        one_segm = one_rt_segm_buff[one_rt_segm_buff.wkt == wkt].reset_index(drop=True)
        one_line = one_geo_line[one_geo_line.wkt == wkt].reset_index(drop=True).geometry[0]
    
        one_rt = bg_df[bg_df.mr_id == rt]
        one_rt['time']=pd.to_datetime(one_rt['timenav'])
        one_rt['hour']=one_rt['time'].dt.hour
        one_rt['day']=one_rt['time'].dt.day.astype(str) + "_" + one_rt['time'].dt.month.astype(str)
        one_rt['day_tp'] = one_rt['timenav'].apply(lambda x: business_days(x))
        lst_days = list(one_rt.day.unique())

        for day in lst_days:
            one_day = one_rt[one_rt.day == day].reset_index(drop=True)
            lst_hour = [7,8,17,18]
            tp_day= one_day.day_tp[0]

            for hour in lst_hour:
                one_hour = one_day[one_day.hour == hour].reset_index(drop=True)
                if len(one_hour) > 0:
                    one_hour['geometry'] = one_hour.apply(lambda row: Point(row['long'], row['lat']), axis=1)
                    one_hour = gpd.GeoDataFrame(one_hour, geometry='geometry')
                    one_hour.crs='epsg:4326'
                    lst_trid = list(one_hour.tr_id.unique())

                    lst_mean_big=[]
    #                 lst_me=[]
                    for tr in lst_trid:

                        sj_rt_hr = gpd.sjoin(one_hour, one_segm[['geometry']], 
                                       how='inner',
                                       op='within').drop("index_right", axis=1).reset_index(drop=True)
                        big_speed_mean = sj_rt_hr.speed.mean()
                        lst_mean_big.append(speed_mean)
                    speed_min = min(lst_mean_big)
                    speed_max = max(lst_mean_big)
                    speed_mean =  sum(lst_mean_big) / len(lst_mean_big)

                    lst_ttl_spd.append([day, tp_day, hour, speed_mean, speed_min, speed_max, rt, one_line])
    #

HBox(children=(FloatProgress(value=0.0, max=3.0), HTML(value='')))

C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ochristm\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pd.options.mode.chained_assignment = None

In [205]:
lst_ttl_spd

[['17_9', 'work', 7, 3.1701067615658363, 0, 47, 105],
 ['17_9', 'work', 8, 3.1412429378531073, 0, 42, 105],
 ['17_9', 'work', 17, 2.6785714285714284, 0, 40, 105],
 ['17_9', 'work', 18, 2.2430939226519335, 0, 41, 105],
 ['17_9', 'work', 7, 17.045691505673105, 0, 70, 192],
 ['17_9', 'work', 8, 17.16929474961012, 0, 68, 192],
 ['17_9', 'work', 17, 14.883507306889353, 0, 72, 192],
 ['17_9', 'work', 18, 17.183635690485005, 0, 77, 192],
 ['17_9', 'work', 7, 16.810460251046024, 0, 74, 194],
 ['17_9', 'work', 8, 15.741156019122121, 0, 57, 194],
 ['17_9', 'work', 17, 14.813187743355341, 0, 64, 194],
 ['17_9', 'work', 18, 17.429087624209576, 0, 74, 194]]

In [210]:
lst_trid = list(one_hour.tr_id.unique())

In [208]:
one_hour.head(2)

,tr_id,mr_id,mr_name,graph,tabelnum,condnum,timenav,long,lat,speed,mark,time,hour,day,day_tp,geometry
0,200000033,194,217,24,0,0,2020-09-17 18:00:16,50.244835,53.211104,16,0,2020-09-17 18:00:16,18,17_9,work,POINT (50.24483 53.21110)
1,200000033,194,217,24,0,0,2020-09-17 18:00:37,50.246527,53.211822,23,0,2020-09-17 18:00:37,18,17_9,work,POINT (50.24653 53.21182)

In [81]:
stops_end = pd.read_csv('STOPS_TransNavi_from_Pandas.csv', sep=',', encoding='utf-8')

In [ ]:
del stops_end['Unnamed: 0']

In [87]:
%time stops_end['geometry'] = stops_end.apply(lambda row: Point(row['ss_long'],row['ss_lat']), axis=1 )

Wall time: 36 ms

In [88]:
stops_end.head(2)

,mr_id,rl_id,ssId,ss_name,ss_lat,ss_long,geometry
0,1,68365,80,Автостанция Красная Глинка,53.384613,50.169362,POINT (50.169362 53.384613)
1,1,68365,552,Железнодорожный вокзал (стоянка),53.187009,50.118634,POINT (50.118634 53.187009)

In [89]:
stops_end = gpd.GeoDataFrame(stops_end, geometry='geometry')
stops_end.crs = 'epsg:4326'

In [181]:
def business_days(x):
    try:
        str(pd.bdate_range(start=x, end=x)[0].date())
        y='work'
    except:
        y = 'holiday'
    return y
#