In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely
from shapely.geometry import Point, LineString, MultiLineString, Polygon, MultiPolygon
from tqdm.notebook import tqdm
import time
from datetime import datetime

import momepy
import networkx as nx

import io
import sys

from shapely.ops import nearest_points, unary_union, cascaded_union

In [2]:
from sqlalchemy import create_engine
import traceback
import getpass

In [3]:
engine = create_engine('postgresql://{login}:{password}@84.201.144.84:54327/cei_samara'.format(
    login='kpopova@infraeconomy.com',
    password='woo2eipaeb3shoibeer6Foxaesh8aeSu',
))

In [4]:
routes_stops = pd.read_sql(
    """
    select *
    from public.routes_routestop
    """,
    engine
)

In [5]:
stops = pd.read_sql(
    """
    select *
    from public.routes_stop
    """,
    engine
)

In [6]:
routes = pd.read_sql(
    """
    select *
    from public.routes_routetrip
    """,
    engine
)

In [7]:
stops.head(3)

          stop_id            stop_name   latitude  longitude
0  stop__10001575   Автостанция Аврора  53.191686  50.188534
1  stop__10001576        Улица Волгина  53.191577  50.184504
2  stop__10000931  Революционная улица  53.191449  50.179906

In [8]:
lst_geo=[]
lst_lat=list(stops.latitude)
lst_lon=list(stops.longitude)
i=0
for i in tqdm(range(len(stops))):
    one_pt = Point(lst_lon[i], lst_lat[i])
    lst_geo.append(one_pt)
#

HBox(children=(FloatProgress(value=0.0, max=7851.0), HTML(value='')))

In [9]:
gdf_stops_all = gpd.GeoDataFrame(stops, geometry=lst_geo)
gdf_stops_all.crs='epsg:4326'

In [10]:
routes_stops_ll = routes_stops.merge(gdf_stops_all[['stop_id', 'latitude', 'longitude', 
                                                    'geometry']], 
                                  how='left', on=['stop_id'])
gdf_stop_seq = gpd.GeoDataFrame(routes_stops_ll, geometry='geometry')
gdf_stop_seq.crs='epsg:4326'

In [11]:
gdf_stop_seq.head(3)

,id,direction,stop_sequence,stop_id,trip_id,latitude,longitude,geometry
0,68858,0,1,stop__10001575,2193179787,53.191686,50.188534,POINT (50.18853 53.19169)
1,68859,0,2,stop__10001576,2193179787,53.191577,50.184504,POINT (50.18450 53.19158)
2,68860,0,3,stop__10000931,2193179787,53.191449,50.179906,POINT (50.17991 53.19145)

In [12]:
print(len(gdf_stop_seq))
gdf_stop_seq = gdf_stop_seq.merge(routes[['trip_id', 'route_id']], how='left', on=['trip_id'])
gdf_stop_seq = gdf_stop_seq.reset_index(drop=True)
print(len(gdf_stop_seq))

43815
43815

In [13]:
def create_buff_gdf(other_side, buff, gdf_stop_seq):
    gdf_other_side = gpd.GeoDataFrame(other_side, columns=gdf_stop_seq.columns)
    gdf_other_side.crs = gdf_stop_seq.crs
    gdf_other_side_32640 = gdf_other_side.to_crs('epsg:32640')
    gdf_other_side_32640_buff = gdf_other_side_32640.copy()
    gdf_other_side_32640_buff.geometry = gdf_other_side_32640_buff.geometry.buffer(buff)
    gdf_other_side_32640_buff = gdf_other_side_32640_buff.to_crs('epsg:4326')
    return gdf_other_side_32640_buff

In [ ]:
def get_side_pairs(lst_done, one_side, other_side, gdf_stop_seq, buff):
    gdf_other_side = gpd.GeoDataFrame(other_side, columns=gdf_stop_seq.columns)
    gdf_other_side.crs = gdf_stop_seq.crs
    gdf_one_side_buff = create_buff_gdf(one_side, buff, gdf_stop_seq)
    j=0
    for j in range(len(one_side)):
        gdf_one_side_buff_one = gdf_one_side_buff.iloc[[j]]
        sj_stop = gpd.sjoin(gdf_other_side, 
                            gdf_one_side_buff_one[['geometry']], op='within', 
                            how='inner').drop("index_right", axis=1).reset_index(drop=True)
        #
        sj_stop = sj_stop.drop_duplicates(subset=sj_stop.columns)
        lst_stopids = list(sj_stop.stop_id.unique())
        one_stop_id = one_side[j,ind_stpid]
        
        k=0
        for k in range(len(lst_stopids)):
            if one_stop_id != lst_stopids[k]:
                pair = str(one_stop_id) + "^" +  str(lst_stopids[k])
                pair2 = str(lst_stopids[k]) + "^" +  str(one_stop_id)
                if ((pair not in lst_done) & (pair2 not in lst_done)):
                    lst_done.append(pair)
    return lst_done

In [ ]:
# shapely.ops.split(geom, splitter)

In [14]:
np_stseq = gdf_stop_seq.to_numpy()
ind_dir = list(gdf_stop_seq.columns).index('direction')
ind_stpid = list(gdf_stop_seq.columns).index('stop_id')
ind_trpid = list(gdf_stop_seq.columns).index('trip_id')
ind_geo = list(gdf_stop_seq.columns).index('geometry')
ind_routid = list(gdf_stop_seq.columns).index('route_id')

In [16]:
lst_rtids = list(gdf_stop_seq.route_id.unique())

In [55]:
buff=1000
lst_done = []
i=0
# for i in tqdm(range(2)):
for i in tqdm(range(len(lst_rtids))):
    one_route = np_stseq[np_stseq[:, ind_routid] == lst_rtids[i]]
    lst_trips_0 = list(set(list(one_route[one_route[:,ind_dir] == 0][:,ind_trpid])))
    lst_trips_1 = list(set(list(one_route[one_route[:,ind_dir] == 1][:,ind_trpid])))

    if len(lst_trips_1) > 0:
        one_side = one_route[one_route[:,ind_trpid] == lst_trips_0[0]]
        other_side = one_route[one_route[:,ind_trpid] == lst_trips_1[0]]
        lst_done = get_side_pairs(lst_done, one_side, other_side, gdf_stop_seq, buff)
        lst_done = get_side_pairs(lst_done, other_side, one_side, gdf_stop_seq, buff)
#

HBox(children=(FloatProgress(value=0.0, max=736.0), HTML(value='')))

In [62]:
df_pairs = pd.DataFrame(lst_done, columns=['pair'])

In [64]:
df_pairs['one'], df_pairs['two'] = df_pairs['pair'].split("^")

AttributeError: 'Series' object has no attribute 'split'

In [66]:
df_pairs['one'] = df_pairs['pair'].apply(lambda x: x.split("^")[0] if x!=None else None)

In [67]:
df_pairs['two'] = df_pairs['pair'].apply(lambda x: x.split("^")[1] if x!=None else None)

In [68]:
df_pairs.head(4)

                            pair             one             two
0  stop__10001575^stop__10002125  stop__10001575  stop__10002125
1  stop__10001575^stop__10001577  stop__10001575  stop__10001577
2  stop__10001576^stop__10002127  stop__10001576  stop__10002127
3  stop__10001576^stop__10002125  stop__10001576  stop__10002125

In [69]:
df_pairs.to_csv("df_pairs.csv", encoding='utf-8-sig', sep=";", index=False)

In [56]:
len(lst_done)

15556

In [57]:
lst_done2 = lst_done[:]

In [58]:
lst_done3 = list(set(lst_done2))

In [59]:
len(lst_done3)

15556

In [34]:
# gdf_one_side_buff.to_file("gdf_one_side_buff.json", driver="GeoJSON", encoding='utf-8')